

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600;1,700&display=swap');



*{

margin:  0%;
padding: 0;
list-style: none;
text-decoration: none;
font-family: "Inter";

}


.background-paris{

background: rgba(123, 122, 128, 0.7) url(imagens/paris.jpg);
background-blend-mode: darken;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
max-width: 100%;

}

.logo img{

width: 100px;
height: auto;

}

nav{

display: flex;
gap: 30px;
font-size: 22px;


}

nav a{

color: white;
font-weight: 500;
}
nav a:hover{
    background-color: rgb(75, 73, 73);
    letter-spacing: 0.16px;
}

header{

display: flex;
justify-content: center;
padding-top: 2rem;
align-items: center;
text-align: center;
gap: 10rem;

}

.paris-meio-container{

    margin-left: 14%;
    margin-top: 12%;
    max-width: 100%;
}

.meio-paris h1{

color: white;
font-size: 68px;

}

.meio-paris p{


color: white;
font-size: 17px;
font-style: italic;
font-weight: 500;
margin-top: 1rem;
line-height: 25px;
}

.meio-paris li{
    color: white;
    font-style: italic;
}

.btn{

    background-color: red;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
    width: 150px;


}
.btn a{
    color: white;
}
