*{ padding: 0;/* define para o navegador, que o espaçamento a ser utilizado na pagina é igual a zero*/
    margin: 0;/*deine o valor 0 como margem para a pagina*/
     box-sizing: border-box;/*o espaçamento d padding conta para dentro da caixa*/
       font-family: Arial, Helvetica, sans-serif;/*define o tipo de fonte dentro da caixa*/

} 
header{/* confiura o cabeçalho da pagina*/
    background-color: rgb(47, 55, 157);
    /*altera a cor de fundo da área do cabeçalho*/
    color: #f2f2f2;/*altera cor da fonte*/
   padding: 15px;/*espaçamento entre o texto e a margens */
   text-align: center;
border-bottom: #0085fa 3px solid; /*adiciona uma borda inferior com 3 pixels de espessura*/
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/*grid de produto*/
.container {
background-color:#aeb5da;/*cor de fundo*/
min-height: 60vh;/*altura minima da seção deve ser 60% da tela*/
padding: 50px;
}
.product-container{
    max-width: 1200px;/*largura maxima divisao do card*/
    margin: 0 auto;/*margem 0 na altura e centralizar o conteudo na horizontal*/
}
.card {
 width: 31%;/*largura do card em 31% tamanho definido no product-container*/
 display: inline-block ;/*posiciona os em linha*/
}
.product-image{
  height: 300px;/*ocupar 100% do espaço disponivel no card*/
  background-position:center;
  background-size: cover;

}
#img-1 {
    background-image:url(../imagens/tenis1.jpg);
}

#img-2 {
    background-image:url(../imagens/tenis2.jpg);

}
#img-3 {
    background-image:url(../imagens/tenis3.jpg);
}
#img-4 {
    background-image:url(../imagens/tenis4.jpg);
}
#img-5 {
    background-image:url(../imagens/tenis5.jpg);
}
#img-6 {
    background-image:url(../imagens/tenis6.jpg);
}
h3{

    margin-bottom: 10px;
    color:#9600fa;
    font-size: 24px;
}
.card p{
   margin-bottom: 10px;
}
.btn {
   display: block;/*exibir o conteudo no formato de um */
   width: 100%;/*ocupar 100% do espaço disponivel no card */
   text-align: center;/*alinhar o texto no centro do espaço indicado pelo comando width*/
   text-transform: uppercase;/*exibe o texto em letra maiuscula*/
   text-decoration: none;/*remove o sublinhado*/
   background-color: #0085fa;/*altera a cor de fundo do display block (botao)*/
   color: #ffffff;/*muda a cor da fonte*/
   padding: 15px;/*espaçamento de 15px ao redor do display block*/
   margin-bottom: 10px;/*adiciona uma margem abaixo do botao de 10 px*/
border-radius: 10px;/*arredonda os cantos do botao*/
}
.btn:hover{/*altera o comportamento do botao quando o mouse passar por cima */
background-color: #3a00fa;
}
footer{/*altera as configuração do roda pé da pagina*/
    background-color: #0085fa /*altera a cor do fundo do rodapé*/;
    padding: 80px/*adiciona um espaçamento ao redor do rodapé*/;
    color: #f2f2f2;/*altera cor da fonte*/

}