*{
    margin: 0;
    padding: 0;
    font: 700 1.7rem 'Courier New', sans-serif;
}

#titulo,
#versus{
    color:darkcyan;
    text-align: center;
}
#placar{
display: flex;
align-items: center;
justify-content: center;
}
#jogador,
#computador {
    position: relative;
    border-radius: 5px;
    width: 12.5rem;
    padding: 1.9rem;
    color: #fff;
    flex-grow: 1;
}
#jogador{
    background-color: cornflowerblue;
}
#computador{
    background-color: coral;
}

#jogadornome{
    text-align: right;
}
#computadorNome{
    text-align: right;
}
#jogadorPontos,
#computadorPontos {
    position: absolute;
    top: 0.5rem;
    font-size: 1.8rem;
}
#jogadorPontos{
    right: 1.8rem;
}
ul#jogadorEscolha,
ul#computadorEscolha{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#jogadorEscolha li,
ul#computadorEscolha li{
display: inline;
}

ul#jogadorEscolha li a,
ul#computadorEscolha li a{
opacity: 0.2;
}

ul#jogadorEscolha li a:hover,
ul#jogadorEscolha li a.selecionado,
ul#computadorEscolha li a.selecionado{
opacity: 1;
cursor:pointer
}
ul#jogadorEscolha li a img,
ul#computadorEscolha li a img{
    width: 5rem;
    align-items: center;
}
#mensagem{
    background-color: lavender;
    font: 600 2rem 'Courirer New', sans-serif;
    border-radius: 5px;
    padding: 1.9rem;
    margin: 2rem 1rem;
    text-align: center;
}