
*{
    box-sizing: border-box;
    }
    
    /*Estilo do body*/
    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;   
    }
    
    /*ponto para customizar*/
    .anotacao{
        background-color: rgb(72, 50, 217);
        padding: 5px;
        text-align: center;
        color: white;
    }
    .cabecalho {
        padding: 60px;
        text-align: center;
        background-image:url(../imagem/bem\ vindo.png);
        background-size: cover;
        color: rgb(249, 249, 249);
    }
    /*estilo da barra de navegação*/
    .barra_nav{
    display: flex;
    background-color: rgb(68, 68, 68);
    }
    
    /*estilo dos links da barra de navegação*/
    .barra_nav a{
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
    }
    
    /*trocar a cor de fundo quando o cursor estiver sobre o link*/
    .barra_nav a:hover{
        background-color: rgb(0, 0, 0);
    }
    
    /*configurar a div coluna*/
    .coluna{
        display: flex;
        flex-wrap: wrap;
    }
    
    /*Criar 2 colunas desiguais (30 e 70%)*/
    .lateral{
        flex: 30%;
        background-color: rgb(192, 221, 244);
        padding: 20px;
    }
    
    .principal{
        flex:70%;
        background-color: white;
        padding: 20px;
    }
    /*imagens falsas apenas para marcação do espaço*/
    .imagem_falsa{
        background-color: rgb(69, 114, 230);
        width: 100%;
        padding: 20px;
        height: 200px;
    }
    .imagem_falsa2{
        background-color:rgb(69, 114, 230);
        width: 100%;
        padding: 20px;
        height: 60px;
        margin-bottom: 10px;
    }
    .imagem_falsa4{
        background-color:rgb(69, 114, 230);
        width: 100%;
        padding: 20px;
        height: 200px;
    }

.imagem_falsa3{
    background-color:rgb(69, 114, 230);
    width: 100%;
    padding: 20px;
    height: 200px;
}
  @media screen and (max-width: 500px){
        .coluna, .barra_nav{
            flex-direction: column;
        }
        .cabecalho{
            background-image: url(../imagem/Design\ sem\ nome.png);
            background-size: cover;
            color: white;
        }
    }
        
